body
{
	background-color: #CCCCCC;
}

div
{
	background-color: lightsteelblue;
}

span
{
	background-color: goldenrod;
}

h1
{
	background-color: blue;
}

p
{
	background-color: red;
}

a
{
	background-color: yellow;	
}